* {
  margin: 0;
  padding: 0;
}
.div1, .div3  {
  background-color: #050210;
}

.div1 {  
  width: 600px;
height: 600px;
display: flex;
justify-content: center;
align-items: center;
}

.div2 {  
display: flex;
justify-content: center;
align-items: center;
border-radius: 100%;
width: 400px;
height: 400px;
background: linear-gradient(#fb5dad 0%, #55fb9f 50%, #b97aff);
box-shadow: 0 0 20px #fb5dad, 0 0 40px #55fb9f, 0 0 60px #b97aff;
}
.div3 {
align-items: center;
margin: auto;
border-radius: 100%;
width: 350px;
height: 350px;
}
@keyframes myanimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#transform {
  animation: myanimation 1.5s infinite;
  animation-timing-function: linear;  
}
#transform:hover {
  animation-play-state: paused;
}

